# Install system dependencies
-r pre-requirements.txt

# Install Python dependencies
Flask
requests
LegadoParser2
html5-parser
cssselect
hjson
jsonpath_ng
quickjs
selenium
webdriver-manager
fs
PyGithub